# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.factorypath
*.log
.vscode/

# Environment variables (NUNCA subir a Git)
.env
*.env.local

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
